.tabuleiro {
  .pecas {
    display: flex;
    flex-wrap: wrap;

    .lua {
      width: 100px;
      height: 100px;
      margin: 1px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .casas {
    display: flex;
    flex-wrap: wrap;

    .casa {
      border: solid 1px red;
      box-sizing: border-box;

      width: 12%;
      min-height: 100px;
      margin: 0.25%;

      h1 {
        background-color: #0b0b0b;
        color: #fff;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .jogadores {
        .cor {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: solid 1px black;
          box-sizing: border-box;
        }
      }
    }
  }
}
